<div id="header-wrapper">
	<div id="header" class="clearfix">
		<h1>garasiKita</h1>
		
		<ul class='navigation-main clearfix'>	
		</ul>
		
	</div> <!-- EO div#header -->
</div> <!-- EO div#header-wrapper -->